{% extends 'base.html' %}

{% block title %}
    Post a blog
{% endblock title %}
{% block content %}


<!-- <div class="h-screen w-screen flex flex-cols">
    <div class="w-1/2 bg-cover h-screen" id="sigupdiv">
        <img src="{{url_for('static', filename='signup.png')}}" />
    </div>
    <div class="w-2/3 flex flex-cols px-20 justify-center items-center h-screen ">
    <div class="grid">
        <img src="{{url_for('static', filename='logo.png')}}">
        <div class="text-4xl font-light mt-20">Post your own blog here. </div>
        <form action="/post" method="post" class="mt-10" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.csrf_token}}
            <label for="title">Blog Thumbnail</label>
            <input name="thumbnail" id="thumbnail" type="file" class="p-5 text-xl w-full h-12 border-2 mt-2 border-black" />
            <label for="title">Blog title</label>
            {{form.title(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black')}}
            <label for="title">Blog category (Choose wisely, this affects views)</label>
            {{form.category(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black')}}
            <label for="title">Short description</label>
            {{form.short_desc(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black')}}
            <label for="title">Blog content</label>
            {{form.content(class='p-5 text-xl w-full h-12 border-2 mt-2 border-black')}}
            <button class="w-full h-12 bg-black text-white mt-5 hover:bg-white hover:text-black hover:border-2 hover:border-black
            " >Post</button>---->
<section class="max-w-4xl mb-10  p-6 mx-auto bg-gray-100 rounded-md shadow-md  mt-5">
    <h1 class="text-xl font-bold text-black capitalize ">Post a blog</h1>
    <form action="/post" method="post">
        {{form.hidden_tag()}}
            {{form.csrf_token}}
       <div class="grid">
            <div>
                <label class=" middle text-black  " for="Header">Blog Title</label>
                {{form.title(class='block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md  focus:outline-none focus:ring')}}
                
            </div>
            <div>
                <label class="middle  text-black  " for="category">Blog Category (Choose wisely, this affects views)</label>
                {{form.category(class='block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md  focus:outline-none focus:ring')}}
              
            </div>
            <div>
                <label class=" middle text-black   " for="Blog subtitle">Blog Subtitle</label>
                {{form.short_desc(class='block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md    focus:outline-none focus:ring')}}
               
            </div>
            <div>
                <label class=" middle text-black   " for="Blog content">Blog Content</label>
                {{form.content(class='block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md    focus:outline-none focus:ring')}}
                
            </div>
           
           

           
           
           
            <div>
                <label name="thumbnail" id="thumbnail" type="file" class="block text-sm font-medium   text-black ">
                Blog Image
              </label>
              <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12   text-black " stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <span class="">Upload a file</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only">
                    </label>
                    <p class="pl-1   text-black ">or drag and drop</p>
                  </div>
                  <p class="text-xs   text-black ">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
        <div class="flex justify-end mt-6">
            <button class= " rounded-full w-full h-12 bg-black text-white mt-5 hover:bg-white hover:text-black hover:border-2 hover:border-black
            " >Post</button>
        </div>
    </form>
</section>


{% endblock content %}